div{
    background: blue;
    margin: 12px;
    color: white;
    font-size: 20px;
    padding: 2px;
}
.none{
    display: none;
}
.opacity-0{
    opacity: 0;
}
.opacity-1{
    opacity: 1;
}
.opacity-5{
    opacity: 0.5;
}
.visibility{
    visibility:hidden
}