/*line height
letter-spacing
word-spacing
text-transform
text-decoration*/
.one{
	line-height:2em;
	letter-spacing:2px;
	word-spacing:1vh;
	text-transform:uppercase;
	/* text-decoration: ; */

}
.two{
	
	line: height 0.5em;;
	letter-spacing:3px;
	word-spacing:10px;
	text-transform:lowercase;
	text-decoration:underline;

}
.three{
	
	line-height:10em;
	letter-spacing:30px;
	word-spacing:100px;
	text-transform:capitalize;
	text-decoration:line through;

}
