/* display -->
block
inline
inline-box
box-sizing: border-box */

/* block : always starts a new line and takes full width
inline : does not starts new line and inly take as much as content space */

.block{
	background: blue;
	color: white;
	/* display: inline; */
	
}
/* dispaly property switches the style for element, from block to inline and vice versa */
.inline{
	background: red;
	color:peru;
	/* display:block; */
}