*{
    margin: 0;
    padding: 0;
}
body{
    background: #FFF0E5;
}
.wrapper{
    width:100vw;
}
.wrapper .top{
    height:10vh;
    /* background-color:red; */
}
.wrapper .top .navbar{
    display: flex;
    align-items: center;
    background:transparent;
    padding: 1rem;
    font-size: 1.2rem;
    flex-wrap: wrap;
}
.wrapper .top .navbar .logo i{
    margin-right:.5rem;
    font-size: 3rem;
    color: black;
}
.wrapper .top .navbar .title{
    margin-right: 0.2rem;
    font-size:1.5rem;
}
.wrapper .top .navbar .links a{
    margin:1.2rem;
    text-decoration: none;
    color: #555;
    font-weight:450;
}
main{
    height: 65vh;
}
.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align:center;
    justify-content: center;
    align-items: center;
}
.content .header{
    font-size: 5rem;
    margin-bottom:-1rem;
    font-weight: 700;
}
.content .description{
    font-size:1.9rem;
    text-align:center;
    color: #555;
    font-weight: 600;
}
.bottom{
    display: flex;
    align-items: center;
    height:25vh;
    /* background-color: blue; */
}
.bottom .wrap{
    max-width: 100vw;
    display: flex;
    justify-content: center;
    height: 14rem;
    position: relative;
    box-sizing: border-box;
    margin: 0 10rem;
}
.bottom .wrap .box1{
    min-width:20vw;
    background-color: white;
    margin-right:3rem;
}
.bottom .wrap .box2{
    min-width:20vw;
    background-color: white;
    margin-right:3rem;
}
.bottom .wrap .box3{
    min-width:20vw;
    background-color: white;
}