*{
    margin:0;
    box-sizing:border-box;
    font-family:"Lato",sans-serif;
}
h2{
    text-transform:capitalize;
    display:flex;
    justify-content:center;
}
p{
    padding-left:30px;
    word-spacing:1px;
    line-height:1.5em;
}
.section-1{
    background:black;
}
.section-2{
    background:transparent
}
.section-1,.section-2{
    min-height:15px;
    color:white;
    padding:15px;  
    margin:5px;
    letter-spacing:.5rem;
    font-size:30px;
    text-align:center;
    text-transform:uppercase;
}
.img-1{
    min-height:100vh;
    background:url(./images/img-1.jpg);
    opacity:0.7;
}
.img-2{
    min-height:44vh;
    background:url(./images/img-2.jpg);
}
.img-3{
    min-height:44vh;
    background:url(./images/img-4.jpg);
}
#img-1{
    min-height:100vh;
    background:url(./images/img-3.jpg);
    opacity:0.7;
}
.img-1,.img-2,.img-3,#img-1{
    display:flex;
    justify-content:center;
    align-items:center;
    background-attachment:fixed;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.light-sec,.sec-dark{
    min-height:35vh;
    background:#F4F4F4;
    display:grid;
    align-items:center;
    justify-content:center;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:70px;
    padding-bottom:70px;
    color: #666666;
}
.sec-dark{
    min-height:33vh;
    background:#282E34;
    color:white;
}

