*{
    margin:auto;
    padding:auto;
    box-sizing:border-box;
    font-family:"Lato",sans-serif;
}
h1{
    font-size:34px;
    text-transform:capitalize;
}
h2{
    font-size:28px;
    text-transform:capitalize;
}
p{
    font-size:18px;
    line-height:1.5em;
}
.header{
    min-height:49vh;
    background:url(./images/banner.jpg);
    padding: 2rem 2rem;
    margin:auto;
    color:white;
    text-align:center;
    display:grid;
    justify-content:center;
    align-items:center;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    opacity: 0.8;
}
.more_info{
    width:16%;
    min-height:5vh;
    background:black;
    padding:1rem;
    border: 1px solid #666;
    font-size:18px;
    display:contents;
    text-transform: capitalize;
    display:flex;
    align-items: center;
    justify-content: center;
}
.section{
    min-height:24.3vh;
    justify-content:center;
    text-align: center;
    padding: 20px 260px;
    display:block;
}
.content{
    min-height: 45vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}
